html {
    background: black;
    font-family: Helvetica, sans-serif;
    
}


.intro {
 position: relative;
 margin: 0 auto;
}

h1 {
 color: yellow;   
 text-align: center;
 background-color: #121212;
 font-size: 38px;
    
}


