html {
    background-image: linear-gradient(to bottom, rgba(52,20,232,0), rgba(52,20,232,0.2));
    font-family: Helvetica, sans-serif;
}
    
body {

}
    
.headerpic {

  background-position: center;
  position: relative;
  margin-top: 0;
  
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Anthidium_February_2008-1.jpg/800px-Anthidium_February_2008-1.jpg');
    
    
}
.grid {
    
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: repeat(4, 300px);

}

.transbox {
    
 background: rgba(255, 255, 255, 0.1);
 background-position: center;
 height: 80%;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
}
 
.transbox p {
  font-weight: bold;
  color: #000000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 30px;
    
}
    

.container {
    

    
}


.piccontainer {

  position: relative;
  margin-top: -100px;    
}



.extra {
  position: absolute;
  top: 550px;
  left: 20px;
  z-index: 0;
  height: 300px;
  width: 300px;
  
    
}
  
.b {
    
  grid-area: 1 / 2 / span 3 / span 1;
  
    
}



.f{
    
    
  grid-area: 3 / 2 / span 1 / span 1;
    
}


.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  z-index: 2;
}

.title {
  
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
}

h1 {
 color: white;   
 text-align: left;
 font-size: 30 px;



 font-family: "Courier New", Courier, monospace;
 font-weight: bold;
    
}

.largepicture {
  display: inline-block;
  width: 20%;
  padding: 0px;
  position: relative;
  top: 100px;

}


.left {
    left: -50px;
    
    
}

.right {
    right: 50px
    
    
}




